<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShovelHeroApp"
        tools:targetApi="31">
        <activity
            android:name=".Controllers.RateShovellerActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.CustomerInvoiceActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.YouthAndGuardianInvoiceActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.JobCompletionConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.CustomerAcceptedWOActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.GuardianViewApprovedWOActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.YouthViewApprovedWOActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.EditPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.EditUserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.GuardianProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.GuardianApprovalRequestActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.ViewAnOpenWorkOrderActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.ListAllOpenWorkOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.ManagePropertyActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.CreateAddressActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.YouthShovelerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controllers.UserRegistrationActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Controllers.CustomerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.CreateWorkOrderActivity"
            android:exported="false" />
    </application>

</manifest>